body {
    margin: 0;
    text-align: center;
    font-family: 'Merriweather', serif;
}

h1 {
    position: relative;
    margin: 50px auto 0px auto;
    color: #66BFBF;
    font-family: 'Sacramento', cursive, sans-serif;
    font-size: 5.5rem;
    line-height: 2;
}

h2 {
    color: #66BFBF;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.8rem;
    font-weight: normal;
}

h3 {
    color: #11999E;
    font-family: 'Montserrat', sans-serif;
}

.bottom-cloud {
    position: absolute;
}

.bottom-container {
    background-color: #F2F2F2;
}

.footer-link {
    color: #11999E;
}

.hardskill-image {
    float: left;
    height: 200px;
    padding-right: 30px;
    width: 25%;
}

.middle-container {
    background-color: #F2F2F2;
}

.skill-row {
    line-height: 2;
    margin: 100px auto 100px auto;
    text-align: left;
    width: 50%;
}

.softskill-image {
    float: right;
    height: 200px;
    padding-left: 30px;
    width: 25%;
}

.top-container {
    background-color: #F2F2F2;
    padding-top: 50px;
}

.top-cloud {
    position: absolute;
    right: 300px;
    top: 20px;
}