<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cafe&Wifi API</title>
</head>
<body>
    <h1>Welcome to the Cafe & Wifi API</h1>
    <form method="post">
        <label for="title"> Cafe Name </label>
        <br>
        <input type="text" name="cafe_name"
               placeholder="Cafe Name"
               value="{{ request.form['cafe_name'] }}"></input>
        <br>
        <label for="title"> Map URL </label>
        <br>
        <input type="text" name="map_url"
               placeholder="Map URL"
               value="{{ request.form['map_url'] }}"></input>
        <br>
        <label for="title"> Img URL </label>
        <br>
        <input type="text" name="img_url"
               placeholder="Img URL"
               value="{{ request.form['img_url'] }}"></input>
        <br>
        <label for="title"> Location </label>
        <br>
        <input type="text" name="location"
               placeholder="Location"
               value="{{ request.form['location'] }}"></input>
        <br>
        <label for="title"> Seats </label>
        <br>
        <input type="text" name="seats"
               placeholder="Seats"
               value="{{ request.form['seats'] }}"></input>
        <br>
        <label for="title"> Has Toilets? </label>
        <br>
        <input type="text" name="has_toilets"
               placeholder="Has Toilets?"
               value="{{ request.form['has_toilets'] }}"></input>
        <br>
        <label for="title"> Has Wifi? </label>
        <br>
        <input type="text" name="has_wifi"
               placeholder="Has Wifi?"
               value="{{ request.form['has_wifi'] }}"></input>
        <br>
        <label for="title"> Has Sockets? </label>
        <br>
        <input type="text" name="has_sockets"
               placeholder="Has Sockets?"
               value="{{ request.form['has_sockets'] }}"></input>
        <br>
        <label for="title"> Can Take Calls? </label>
        <br>
        <input type="text" name="can_take_calls"
               placeholder="Can Take Calls"
               value="{{ request.form['can_take_calls'] }}"></input>
        <br>
        <label for="title"> Coffe Price? </label>
        <br>
        <input type="text" name="coffee_price"
               placeholder="Coffee Price?"
               value="{{ request.form['coffee_price'] }}"></input>
        <br>
        <button type="submit">Submit</button>
    </form>
</body>


</html>